body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  background-image: url("./images/bg3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Source Sans Pro", sans-serif;
  color: #323232;
}
h1,
h3,
p {
  margin: 0.2rem;
  color: #323232;
}
.app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.container {
  vertical-align: middle;
  align-self: center;
  margin: auto 0px;
  background-color: white;
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  padding: 40px;
  opacity: 0.8;
}
.row {
  padding: 0px 50px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 20px;
  z-index: 5;
}
.col {
  width: 50%;
}
h1 {
  font-size: 6rem;
}
.row-2 {
  display: flex;
}
.card {
  width: 40%;
  padding: 10px 0px;
}
h2 {
  margin: 0px;
  font-size: 2.4rem;
}
span {
  font-size: 3rem;
  font-weight: 500;
}
.input-control {
  width: 50%;
  margin: 0px auto;
  padding: 0px;
}
input {
  margin: 0px;
  flex: 1;
  border: 0px;
  width: 100%;
  height: 24px;
  border-bottom: 1px solid #323232;
}
button {
}
form {
  width: 100%;
}
.row {
  width: 100%;
}
