.App{
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding: 20px;
  background-image: url("images.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.search-bar-form{
  width: 100%;
  height: 10vh;
  display: flex !important;
  justify-content: space-evenly !important;
}
.search-bar-form>input,.search-bar-form>input:focus{
  height: 40px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
}
.search-bar-form>button{
  height: 40px;
}
.temp-show{
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  
}